.box_1 {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  margin-top: -20px;
}

h1 {
  background-color: aliceblue;
  color: brown;
  text-align: -webkit-center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: blue;
  border-style: double;
  border-width: 10px;
  font-family: serif;
}
