h1 {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: -webkit-xxx-large;
    border-style: dashed;
    border-color: white;
  }

h4 {
    font-family: sans-serif;
}

p {
    color: white;
    font-family: cursive;
    text-align: center;
}

table {
  background: aliceblue;
  font-family:sans-serif;
}

.button {
  display:block;
  margin: 0 auto;
}

h4 {
  color:indigo;
  text-align: left;"
}
